<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 完全禁用MongoDB的SLF4J查找 -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    
    <!-- 配置彩色控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}]&lt;%logger{0}&gt;{%highlight(%replace(%-5level){'\\b(INFO|WARN|ERROR|DEBUG)\\b', '${1:-信息};${2:-警告};${3:-错误};${4:-调试}'})} %msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- 强制设置MongoDB日志级别 -->
    <logger name="org.mongodb.driver" level="OFF" additivity="false"/>
    
    <!-- 设置Tyrus WebSocket实现的日志级别 -->
    <logger name="org.glassfish.tyrus" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <!-- 设置Grizzly服务器的日志级别 -->
    <logger name="org.glassfish.grizzly" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- 修复Class记录器配置 -->
    <logger name="Class" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    

    
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
